#main-container {
	float: left;
	display:block;
	height: 600px;
	width: 48%;
	background: $sidebar-color;
	border-left: 5px solid $background-color;
	margin-top: 5px;
	overflow-y: auto;

	#main {
		@include friends-listing;
		display: block;
		width: 90%;
		float: left;
		margin: 20px 0 0 20px;

		.body-input {
			width: 400px;
			height: 80px;
		}
		.submit-btn {
			margin-left: 369px;
		}

		.message {
			position: relative;
			margin: 10px 0;
			padding: 10px 0 10px 10px;
			border-bottom-right-radius: 5px;
			background: #ddd;

			input {
				border: inherit;
				padding: inherit;
				margin: inherit;
				color: inherit;
			}
			img {
				display: block;
				float: left;
				height: 40px;
				width: auto;
			}

			.cancel-btn {
				position: absolute;
				font-size: 40px;
				font-weight: bold;
				right: 32px;
				top: 0;
				width: 0px;
				cursor: pointer;
				
				&:hover{
					text-shadow: 0px 0px 10px black;
					color: white;
				}
			}

			.msg-container{
				display: block;
				float: left;
				width: 89%;
				margin-left: 10px;

				.title {
					font-weight: bold;
					color: #333;
				}

				input.title {
					padding: 5px;
					margin-left: 0;
					margin-bottom: 2px;
					width: 90%;
					border: 1px solid black;
					border-radius: 5px;
				}

				.author {
					font-size: 10px;
				}

				.msg-body {
					position: relative;
					padding: 10px;
					margin-left: 30px;
					margin-top: 10px;
					color: #555;
					border-radius: 5px;
					background: white;

					&:before {
						position: absolute;
						content: "";
						height: 0;
						width: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid white;
						top: -10px;
						left: 15px;
					}

					.btn-container {
						position: absolute;
						left: -25px;
						top: 0;
						
						.circular-btn {
							position: relative;
							background: rgba(0, 150, 50, 0.9);
							border-radius: 50%;
							padding: 1px 2px;
							margin-bottom: 2px;
							color: white;
							cursor: pointer;
							text-align: center;

							.hover-msg {
								position: absolute;
								top: -29px;
								left: -35px;
								width: 100px;
								background: #0c6;
								padding: 3px;
								border-radius: 10%;
								
								.down-arrow {
									border-left: 10px solid transparent;
									border-right: 10px solid transparent;
									border-top: 10px solid #0c6;
									position: absolute;
									bottom: -10px;
									left: 35px;
								}
							}

							&:hover {
								background: white;
								margin-bottom: 1px;
								border:1px solid black;
								color: black;
							}
						}
						.circular-btn:hover > .hover-msg{
							display: block;
						}
					}
				}

				textarea.msg-body {
					border: 1px solid black;
					width: 90%;
				}
				.update-post {
					cursor: pointer;
					padding: 5px 10px;
					margin-left: 30px;
					margin-top: 5px;
					background: #0c9;
					border-radius: 5px;
					font-weight: bold;
					float: right;
					&:hover {
						color: black;
						background: white;
						text-shadow: 0 0 10px black;
					}
				}
			}
		}
	}
}