<h2>Welcome to Soical App</h2>
<ul class='about-container'>
	<li><strong>☎</strong>. See updates from friends</li>
	<li><strong>★</strong>. Share what's new in your life</li>
	<li><strong>♫</strong>. Find more friends with like-mind</li>
</ul>

<div class='btn-container clearfix'>
	<div>Free to sign up!</div>
	<a href="#sessions/new">Sign In</a>
	<a href="#users/new" >Sign Up</a>
	<a href="" id='guest-sign-in'>Guest Sign In</a>
</div>

